.cabecalho{
    display: flex;
    background-color: lightskyblue;
    border-style: groove;
    border-color: black;
}
h1{
    text-align: center;
    color: black;
    font-size: 80px;
    margin-left: 27%;
}