.cabecalho{
    display: flex;
    background-color: lightskyblue;
    border-style: groove;
    border-color: black;
}
h1{
    text-align: center;
    color: black;
    font-size: 80px;
    margin-left: 35%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid;
    padding: 8px;
    text-align: center;
}
th{
    background-color: aliceblue;
}